@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */



.border-btn {
  background: #faebd700 !important;
  color: black !important;
  box-shadow: inset 0px 0px 0px 3px #a215ff !important;
  border-radius: 0;
}


a:hover {
  text-decoration: none !important;
}


/* buttons */
.swoshs.btn.btn-primary {
  color: #fff;
  background: var(--swoshs-linear-gradient);
  border-color: transparent;
}
/* .swoshs.btn.btn-primary:hover {
  color: #fff;
  background: var(--swoshs-linear-gradient);
} */

.swoshs.btn.btn-outline-primary {
  color: var(--swoshs-color1);
  border-color: var(--swoshs-color1);
}
.swoshs.btn.btn-outline-primary:hover {
  color: #fff;
  background: var(--swoshs-linear-gradient);
  border-color: transparent;
}


/* a */
a.swoshs {
  color: var(--swoshs-color2);
}



/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}
