:root {
  --swoshs-linear-gradient: linear-gradient(#a215ff 0%, #5f29ff 100%);
  --swoshs-linear-gradient2: linear-gradient(#fb217d 0%, #ff29fc 100%);
  --swoshs-linear-gradient3: linear-gradient(#ff29fc 0%, #fb217d 100%);
  --swoshs-color1: #a215ff;
  --swoshs-color2: #5f29ff;
  --swoshs-color3: #eee6ff;
  --swoshs-black: #383361;
  --swoshs-light-gray: rgb(243, 247, 254);
  --swoshs-green: #15c50a;
  --swoshs-light-green: #e9f9ee;
  --swoshs-red: #c50a0a;
  --swoshs-light-red: #f9e9e9;
  --swoshs-box-shadow: 0px 8px 14px rgba(214, 225, 243, 0.64);

  /*text Colors */
  --head-1: #d1d3de;
  --first: #d2d2d2;
  --secondary: #a215ff;
  --third: #5f29ff;
  --fourth: #bcc3fb;
  --fifth: #ffffff;
  --sixth: #957fbf;
  --seventh: #22183d;
  --eighth: #454a63;
  /* Background Colors */
  --background-1: #312b54;
  --background-2: #22183d;
  --background-3: #f3f7fe;
  --background-4: #dfdfed;
  --background-5: #dee8f9;  
}
